# DrugRadar - requirements.txt

# Machine Learning & NLP
torch
transformers
datasets
scikit-learn
sentencepiece

# NLP tools
spacy

# Data handling
pandas
numpy

# Dashboard
streamlit
plotly

#for API/augmentation
openai
ngrok
